body {
    height: 100px;
    overflow-x: hidden;
}
.floatleft {
    float: left;
    margin-left: 200px;
}
a{
  text-decoration: none;
  color: white;
}
h1 {
    text-align: center;
    font-family: 'Roboto Slab';
}
.inputandbutton {
    position: relative;
    left: 50px;
}
body {
    background-color: black;
    color: white;
    font-family: "Roboto Slab";
}
h2 {
    color: darkred;
    position: relative;
    left: 50px;
}
#cinput {
    font-family: "Roboto Slab";
}
#finput {
    font-family: "Roboto Slab";
}
#fpopup {
    font-family: "Roboto Slab";
    color: black;
    font-weight: bold;
    font-size: 15px;
}
#cpopup {
    font-family: "Roboto Slab";
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.abutton {
    background-color: rgb(25, 39, 29);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
}
#productionheadertwo {
    text-align: center;
    position: relative;
    left:0px;
}
.inputandbuttonandh2{
  position: relative;
  left: 50px;
}
.listitem{
  float: left;
  margin-left: 100px;
  text-decoration: none;
  position: relative;
  left: -12px;
  top: 30px;
}
ul{
   list-style-type: none;
   position: relative;
   left: 160px;
   text-decoration: none;
}
h1 a{
  transition: color 1s, font-size 1s, border-bottom 6s, padding 1s, border-bottom-color 3s;
}
h1 a:hover{
  color: darkblue;
  font-size: 35px;
  border-bottom: 1px white solid;
  padding: 20px;
  border-bottom-color: teal;
}
ul a{
  transition: color 1s, font-size 1s;
}
ul a:hover{
  color: teal;
  font-size: 17px;
}
footer{
  background-color: red;
  color: black;
  text-align: center;
  width: 100%;
  height: 65px;
  position: relative;
  top: 180px;
}
#contact-me{
  text-align: center;
  position: relative;
  left: 10px;
  top: 17px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
